[submodule "libs/PinChangeInterruptHandler"]
	path = libs/PinChangeInterruptHandler
	url = https://github.com/zeitgeist87/PinChangeInterruptHandler
 	url = ./libs/PinChangeInterruptHandler
[submodule "libs/RFTransmitter"]
	path = libs/RFTransmitter
	url = https://github.com/zeitgeist87/RFTransmitter
	url = ./libs/RFTransmitter
[submodule "libs/RFReceiver"]
	path = libs/RFReceiver
	url = https://github.com/zeitgeist87/RFReceiver
	url = ./libs/RFReceiver
[submodule "Arduino-Makefile"]
	path = Arduino-Makefile
	url = https://github.com/sudar/Arduino-Makefile
	url = ./Arduino-Makefile
